.login {
    background-size: cover;
    width: 1920px;
    height: 1080px;
    position: relative;
}

.loginBox {
    width: 610px;
    height: 477px;
    background: rgba(2, 13, 55, 0.35);
    border-radius: 20px;
    position: absolute;
    top:100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    .formBox{
        width: 350px;
        height:200px;
        margin:150px auto 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.navBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        margin:0 50px;
    }
}