.specials{
    padding:.4rem .3rem;
    .item{
        margin-bottom: 30px;
    }
    .title{
        font-family: PingFangSC-Medium;
        font-size: .375rem;
        color: #000b0b;
        line-height: .525rem;
        margin-bottom: 10px;
        font-weight: 600;
        width: 15em;
    }
    .subtitle{
        margin-bottom: 10px;
    }

}